.notification-card {
    animation: fade-in 3s ease-out;
}

.notification-card.dismiss {
    animation: fade-out 1.5s;
    opacity: 0;
}

@keyframes fade-in {
    0% {
        transform: translateY(-100%);
        opacity: 0%;
    }
    25% {
        transform: translateY(0%);
        opacity: 100%;
    }
    100% {
        transform: translateY(0%);
        opacity: 100%;
    }
}

@keyframes fade-out {
    from {
        transform: translateY(0%);
        opacity: 100%;
    }
    to {
        transform: translateY(-100%);
        opacity: 0%;
    }
}