<div class="text-center text-4xl grid grid-cols-2 w-full">
    <p (click)="leftClick()" class="self-end cursor-pointer" [ngClass]="optionSelected() === 'Left' ? 'text-white' : 'text-light-gray'">
        {{ leftOption() }}
    </p>
    <p (click)="rightClick()" class="self-end cursor-pointer" [ngClass]="optionSelected() === 'Left' ? 'text-light-gray' : 'text-white'">
        {{ rightOption() }}
    </p>
    
    <div class="block col-span-full mt-2 h-1 relative">
        <div class="z-1 h-full absolute w-[50%]"
            [ngClass]="optionSelected() === 'Left' ? 'bg-white' : 'bg-light-gray'">
        </div>
        <div class="bg-light-gray z-0 h-full absolute w-full"
            [ngClass]="optionSelected() === 'Left' ? 'bg-light-gray' : 'bg-white'">
        </div>
    </div>
</div>